In [25]:
import pandas as pd
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from functools import reduce

In [26]:
engine = create_engine('sqlite:///cubic_perovskites.db')
with engine.connect() as conn, conn.begin():
    keyvalues = pd.read_sql_table('number_key_values', conn)
    textvalues = pd.read_sql_table('text_key_values', conn)
    keys = pd.read_sql_table('keys', conn)
    systems = pd.read_sql_table('systems',conn)

### The cell below return a dataframe for each variable

In [39]:
CB_ind = keyvalues[(keyvalues.key=='CB_ind')]
gllbsc_ind_gap = keyvalues[(keyvalues.key=='gllbsc_ind_gap')]
CB_dir = keyvalues[(keyvalues.key=='CB_dir')]
VB_dir = keyvalues[(keyvalues.key=='VB_dir')]
VB_ind = keyvalues[(keyvalues.key=='VB_ind')]
gllbsc_dir_gap = keyvalues[(keyvalues.key=='gllbsc_dir_gap')]
heat_of_formation = keyvalues[(keyvalues.key=='heat_of_formation_all')]
standard_energy = keyvalues[(keyvalues.key=='standard_energy')]

### The cells below build a dataframe for all the values. 
id is the ID of the perovskite

In [40]:
valuelist=[CB_dir,VB_dir,VB_ind,gllbsc_dir_gap,gllbsc_ind_gap,heat_of_formation,standard_energy]
values = CB_ind
for x in valuelist:
    values = pd.merge(values,x,how='outer',on='id')

In [47]:
values.set_index('id',inplace=True)

In [51]:
values.columns=['key','CB_ind','key','CB_dir','key','VB_dir','key','VB_ind','key','gllbsc_dir_gap','key','gllbsc_ind_gap','key','heat_of_formation','key','standard_energy']

In [54]:
values.drop(columns='key')

,CB_ind,CB_dir,VB_dir,VB_ind,gllbsc_dir_gap,gllbsc_ind_gap,heat_of_formation,standard_energy
id,,,,,,,,
1,5.962712,5.962712,5.962712,5.962712,0.0,0.0,1.20,-2.771908e+00
2,5.456778,5.456778,5.456778,5.456778,0.0,0.0,0.60,-2.015260e+00
3,5.603095,5.333095,6.913095,6.643095,1.6,1.0,0.54,-3.706880e+00
4,6.066547,6.066547,6.066547,6.066547,0.0,0.0,0.88,-4.985423e-01
5,5.539498,5.539498,5.539498,5.539498,0.0,0.0,1.78,3.552433e+00
6,5.359853,5.359853,5.359853,5.359853,0.0,0.0,2.58,5.246948e+00
7,5.971024,5.971024,5.971024,5.971024,0.0,0.0,1.20,1.128427e+00
8,5.762348,5.762348,5.762348,5.762348,0.0,0.0,1.02,-1.666571e+00
9,6.040919,6.040919,6.040919,6.040919,0.0,0.0,1.22,-3.345343e+00
10,5.832942,5.832942,5.832942,5.832942,0.0,0.0,1.24,-3.374650e+00
11,6.304198,6.304198,6.304198,6.304198,0.0,0.0,2.60,8.065491e+00
12,6.044876,6.044876,6.044876,6.044876,0.0,0.0,0.52,-2.579652e+00
13,5.556259,5.556259,5.556259,5.556259,0.0,0.0,2.96,9.838132e+00
14,5.940040,5.940040,5.940040,5.940040,0.0,0.0,1.14,6.071795e-01
15,6.116747,6.116747,6.116747,6.116747,0.0,0.0,1.02,-9.215651e-01
16,6.259946,6.259946,6.259946,6.259946,0.0,0.0,1.18,9.866625e-01
17,4.984993,4.984993,4.984993,4.984993,0.0,0.0,0.72,-6.431752e+00
18,5.831944,5.831944,5.831944,5.831944,0.0,0.0,2.30,-4.845422e-01
19,5.785822,5.785822,5.785822,5.785822,0.0,0.0,1.92,-9.410014e-01
20,5.854680,5.854680,5.854680,5.854680,0.0,0.0,1.96,3.020669e+00
21,6.053250,6.053250,6.053250,6.053250,0.0,0.0,1.04,-7.948760e-02
22,5.518182,5.518182,5.518182,5.518182,0.0,0.0,0.54,-1.032494e+01
23,5.776234,5.776234,5.776234,5.776234,0.0,0.0,1.10,-4.440241e+00
24,6.255053,6.255053,6.255053,6.255053,0.0,0.0,2.50,7.578924e+00
25,4.895327,4.895327,4.895327,4.895327,0.0,0.0,0.24,-1.061713e+01
26,5.230862,5.230862,5.230862,5.230862,0.0,0.0,1.90,4.623869e+00
27,5.358894,5.358894,5.358894,5.358894,0.0,0.0,0.84,-8.140092e+00
28,5.858359,5.858359,5.858359,5.858359,0.0,0.0,1.02,-9.904353e-02
29,5.529481,5.529481,5.529481,5.529481,0.0,0.0,1.44,1.772281e+00
30,4.748441,4.748441,4.748441,4.748441,0.0,0.0,2.30,6.302734e+00
...,...,...,...,...,...,...,...,...
19343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.106001e+02
19345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.229039e+01
19346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.961527e+01
19347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.376977e+01
19348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.769678e+01
19349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.833570e+01
19350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.135754e+01
19351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.158409e+01
19352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.059644e+01
19353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.069787e+01
19354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.701348e+00
19355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.339914e+00
19356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.878751e+01
19357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.536093e+00
19358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.125344e+01
19359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.158409e+01
19360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.563926e+01
19361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.216518e+01
19362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.056558e+01
19363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.996165e+01
19364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.318368e+01
19365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.710604e+01
19366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.618035e+00
19367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.125391e+01
19368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
19369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.684342e-14
19370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
19372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
19371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
19373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.061803e+00

### The cells below build dataframe for A_ion, B_ion and Anion, each dataframe contains the ion's electronegativity and first ionization energy

anion's electronegativity and first ionization energy are calculated from average value of each atom

In [105]:
A_ion = textvalues[(textvalues.key=='A_ion')]
B_ion = textvalues[(textvalues.key=='B_ion')]
anion = textvalues[(textvalues.key=='anion')]

electroneg = pd.read_csv('electronegativity.csv')
electroneg.columns = ['value', 'electronegativity']

A_electroneg=pd.merge(A_ion,electroneg,how='left',on='value')
B_electroneg=pd.merge(B_ion,electroneg,how='left',on='value')

ionization=pd.read_excel('ionization energy.xlsx')

A_values=pd.merge(A_electroneg,ionization,how='left',on='value')
B_values=pd.merge(B_electroneg,ionization,how='left',on='value')

In [106]:
A_values.head()

     key value  id  electronegativity  first ionization energy
0  A_ion    Ti   1               1.54                  6.82810
1  A_ion     K   2               0.82                  4.34066
2  A_ion    Hg   3               2.00                 10.43750
3  A_ion    Bi   4               2.02                  7.28560
4  A_ion    Na   5               0.93                  5.13908

In [107]:
anion.head()

      key value  id
2   anion   O2N   1
7   anion   O2N   2
12  anion   O2N   3
17  anion   O2N   4
22  anion   O2N   5

In [108]:
anion_electronegativity=[3.04,3.62,3.30666,3.15333,3.44,3.48666,3.17333]
#this is calculated from the average of atom's electronegativity
anion_ionization=[14.53414,14.88631,13.92342,12.53204,13.61806,15.19167,14.22878]
#this is calculated from the average of atom's ionization
anion_data = pd.DataFrame({'value':['N3','O2F','O2N','O2S','O3','OFN','ON2'],'electronegativity':anion_electronegativity,'first ionization energy':anion_ionization})
anion_data

   electronegativity  first ionization energy value
0            3.04000                 14.53414    N3
1            3.62000                 14.88631   O2F
2            3.30666                 13.92342   O2N
3            3.15333                 12.53204   O2S
4            3.44000                 13.61806    O3
5            3.48666                 15.19167   OFN
6            3.17333                 14.22878   ON2

In [109]:
anion_values=pd.merge(anion,anion_data,how='left',on='value')

In [110]:
anion_values.head()

     key value  id  electronegativity  first ionization energy
0  anion   O2N   1            3.30666                 13.92342
1  anion   O2N   2            3.30666                 13.92342
2  anion   O2N   3            3.30666                 13.92342
3  anion   O2N   4            3.30666                 13.92342
4  anion   O2N   5            3.30666                 13.92342

### The cell below get two dataframe: mass and volume
id is the ID of perovskite

In [111]:
volume = pd.DataFrame({'id': systems.id, 'volume':systems.volume})
mass = pd.DataFrame({'id': systems.id, 'mass':systems.mass})

In [112]:
volume.head()

   id     volume
0   1  60.301946
1   2  69.072728
2   3  70.420772
3   4  71.053021
4   5  73.668620