In [74]:
import pandas as pd
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [17]:
engine = create_engine('sqlite:///cubic_perovskites.db')
with engine.connect() as conn, conn.begin():
    keyvalues = pd.read_sql_table('number_key_values', conn)
    textvalues = pd.read_sql_table('text_key_values', conn)
    keys = pd.read_sql_table('keys', conn)

In [69]:
keyvalues.set_index('id',inplace=True)

In [70]:
keyvalues.head(n=8)

                      key     value
id
1                  CB_ind  5.962712
1          gllbsc_ind_gap  0.000000
1   heat_of_formation_all  1.200000
1                  CB_dir  5.962712
1          gllbsc_dir_gap  0.000000
1         standard_energy -2.771908
1                  VB_dir  5.962712
1                  VB_ind  5.962712

In [71]:
CB_ind = keyvalues[(keyvalues.key=='CB_ind')]
gllbsc_ind_gap = keyvalues[(keyvalues.key=='gllbsc_ind_gap')]
CB_dir = keyvalues[(keyvalues.key=='CB_dir')]
VB_dir = keyvalues[(keyvalues.key=='VB_dir')]
VB_ind = keyvalues[(keyvalues.key=='VB_ind')]
gllbsc_dir_gap = keyvalues[(keyvalues.key=='gllbsc_dir_gap')]
heat_of_formation = keyvalues[(keyvalues.key=='heat_of_formation')]
standard_energy = keyvalues[(keyvalues.key=='standard_energy')]

In [73]:
CB_dir

          key     value
id
1      CB_dir  5.962712
2      CB_dir  5.456778
3      CB_dir  5.333095
4      CB_dir  6.066547
5      CB_dir  5.539498
6      CB_dir  5.359853
7      CB_dir  5.971024
8      CB_dir  5.762348
9      CB_dir  6.040919
10     CB_dir  5.832942
11     CB_dir  6.304198
12     CB_dir  6.044876
13     CB_dir  5.556259
14     CB_dir  5.940040
15     CB_dir  6.116747
16     CB_dir  6.259946
17     CB_dir  4.984993
18     CB_dir  5.831944
19     CB_dir  5.785822
20     CB_dir  5.854680
21     CB_dir  6.053250
22     CB_dir  5.518182
23     CB_dir  5.776234
24     CB_dir  6.255053
25     CB_dir  4.895327
26     CB_dir  5.230862
27     CB_dir  5.358894
28     CB_dir  5.858359
29     CB_dir  5.529481
30     CB_dir  4.748441
...       ...       ...
18899  CB_dir  5.638279
18900  CB_dir  5.397835
18901  CB_dir  6.101336
18902  CB_dir  5.592714
18903  CB_dir  5.557717
18904  CB_dir  6.013734
18905  CB_dir  5.956605
18906  CB_dir  5.280803
18907  CB_dir  6.031375
18908  CB_dir  5.378038
18909  CB_dir  5.456299
18910  CB_dir  5.837677
18911  CB_dir  5.188923
18912  CB_dir  6.244212
18913  CB_dir  5.654000
18914  CB_dir  6.072251
18915  CB_dir  5.159872
18916  CB_dir  5.232494
18917  CB_dir  5.873419
18918  CB_dir  4.822606
18919  CB_dir  5.642106
18920  CB_dir  5.505267
18921  CB_dir  6.067524
18922  CB_dir  6.071058
18923  CB_dir  5.173782
18924  CB_dir  5.648190
18925  CB_dir  5.177209
18926  CB_dir  5.330188
18927  CB_dir  5.375785
18928  CB_dir  5.977746

[18928 rows x 2 columns]

In [75]:
CB = pd.merge(CB_ind, CB_dir, how='outer')
#??? how to properly merge

In [67]:
textvalues.set_index('id',inplace=True)

In [68]:
textvalues.head(n=5)

            key              value
id
1       project  cubic_perovskites
1         A_ion                 Ti
1         anion                O2N
1   combination              ABO2N
1         B_ion                 As

In [23]:
keys.head(n=13)

                      key  id
0                 project   1
1                   A_ion   1
2                   anion   1
3             combination   1
4                  CB_ind   1
5          gllbsc_ind_gap   1
6   heat_of_formation_all   1
7                  CB_dir   1
8          gllbsc_dir_gap   1
9         standard_energy   1
10                  B_ion   1
11                 VB_dir   1
12                 VB_ind   1

In [76]:
A_ion = textvalues[(textvalues.key=='A_ion')]
B_ion = textvalues[(textvalues.key=='B_ion')]
anion = textvalues[(textvalues.key=='anion')]

In [80]:
anion.groupby('value').count()

        key
value
N3     2704
O2F    2704
O2N    2704
O2S    2704
O3     2704
OFN    2704
ON2    2704

       key
value
Ag     364
Al     364
As     364
Au     364
B      364
Ba     364
Be     364
Bi     364
Ca     364
Cd     364
Co     364
Cr     364
Cs     364
Cu     364
Fe     364
Ga     364
Ge     364
Hf     364
Hg     364
In     364
Ir     364
K      364
La     364
Li     364
Mg     364
Mn     364
Mo     364
Na     364
Nb     364
Ni     364
Os     364
Pb     364
Pd     364
Pt     364
Rb     364
Re     364
Rh     364
Ru     364
Sb     364
Sc     364
Si     364
Sn     364
Sr     364
Ta     364
Te     364
Ti     364
Tl     364
V      364
W      364
Y      364
Zn     364
Zr     364