In [1]:
import pandas as pd
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [2]:
engine = create_engine('sqlite:///cubic_perovskites.db')
with engine.connect() as conn, conn.begin():
    keyvalues = pd.read_sql_table('number_key_values', conn)
    textvalues = pd.read_sql_table('text_key_values', conn)
    keys = pd.read_sql_table('keys', conn)
    systems = pd.read_sql_table('systems',conn)

In [3]:
keyvalues.set_index('id',inplace=True)
textvalues.set_index('id',inplace=True)

In [4]:
CB_ind = keyvalues[(keyvalues.key=='CB_ind')]
gllbsc_ind_gap = keyvalues[(keyvalues.key=='gllbsc_ind_gap')]
CB_dir = keyvalues[(keyvalues.key=='CB_dir')]
VB_dir = keyvalues[(keyvalues.key=='VB_dir')]
VB_ind = keyvalues[(keyvalues.key=='VB_ind')]
gllbsc_dir_gap = keyvalues[(keyvalues.key=='gllbsc_dir_gap')]
heat_of_formation = keyvalues[(keyvalues.key=='heat_of_formation')]
standard_energy = keyvalues[(keyvalues.key=='standard_energy')]

In [5]:
A_ion = textvalues[(textvalues.key=='A_ion')]
B_ion = textvalues[(textvalues.key=='B_ion')]
anion = textvalues[(textvalues.key=='anion')]

In [6]:
volume = pd.DataFrame({'id': systems.id, 'volume':systems.volume})
mass = pd.DataFrame({'id': systems.id, 'mass':systems.mass})

In [7]:
volume.set_index('id',inplace=True)
mass.set_index('id',inplace=True)

In [8]:
electroneg = pd.read_csv('electronegativity.csv')
electroneg.columns = ['value', 'electronegativity']

In [77]:
electroneg.head()

  value  electronegativity
0    He               0.00
1    Li               0.98
2    Be               1.57
3     B               2.04
4     C               2.55

In [75]:
A_electroneg=pd.merge(A_ion,electroneg,how='left',on='value')
B_electroneg=pd.merge(B_ion,electroneg,how='left',on='value')

In [78]:
B_electroneg.head()

     key value  electronegativity
0  B_ion    As               2.18
1  B_ion    Sb               2.05
2  B_ion    Nb               1.60
3  B_ion    Sb               2.05
4  B_ion    Ag               1.93

In [17]:
ionization=pd.read_excel('ionization energy.xlsx',sheet_name='Sheet3')

In [19]:
ionization.head()

   first ionization energy value
0                 13.59844     H
1                 24.58741    He
2                  5.39172    Li
3                  9.32270    Be
4                  8.29803     B

In [20]:
A_ionization=pd.merge(A_ion,ionization,how='left',on='value')
B_ionization=pd.merge(B_ion,ionization,how='left',on='value')

In [22]:
B_ionization.head()

     key value  first ionization energy
0  B_ion    As                  9.78860
1  B_ion    Sb                  8.60840
2  B_ion    Nb                  6.75885
3  B_ion    Sb                  8.60840
4  B_ion    Ag                  7.57620