In [4]:
from KRRcode import featureselect
from Data import open_database
import pandas as pd

In [5]:
perovskite,values,data_total = open_database.read_database()

ValueError: Table number_key_values not found

This notebook is to find the least correlated combination of features. feature_select function will readin perovskite data with all the features and the number of features we want to use in our prediction. The returned dataframe show the possible combination of features and their sum of correlation coefficient.

Note: this function may take long time to run!

In [3]:
least_corr_list = featureselect.feature_select(perovskite,26)

In [6]:
least_corr_list.iloc[1]

combination           [(anion_X, anion_IE, A_X, A_IE, A_s_R, A_p_R, ...
sum of correlation                                               61.274
Name: 18, dtype: object